services:
  - type: web
    name: juego-26
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 10000
    rootDir: web-app
